<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/console}">
<head>
    <title>帝一流博客 - 后台管理</title>
    <link rel="stylesheet" th:href="@{/assets/plugin/nestable/nestable.css}">
</head>

<body>
<div layout:fragment="breadcrumb">
    <a class="navbar-brand" href="javascript: void(0);">类别管理</a>
</div>

<div layout:fragment="container" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-tabs card-header-rose">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <span class="nav-tabs-title"></span>
                            <ul class="nav nav-tabs" data-tabs="tabs">
                                <li class="nav-item">
                                    <a class="btn btn-link nav-link active" href="#category" data-toggle="tab">
                                        <i class="material-icons">category</i> 类别
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="btn btn-link nav-link" href="#sort" data-toggle="tab">
                                        <i class="material-icons">format_list_numbered</i> 排序
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="category">
                            <table class="table" id="myTable"></table>
                        </div>
                        <div class="tab-pane" id="sort">
                            <div class="text-right">
                                <button type="button" class="btn btn-primary" id="saveSort">保存</button>
                            </div>
                            <div class="nestable">
                                <div class="dd" id="nestable">
                                    <ol class="dd-list">
                                        <li class="dd-item" th:each="type:${#request.getAttribute('types')}" th:attr="data-id=${type.id}">
                                            <div class="dd-handle" th:text="${type.name}"></div>
                                            <ol class="dd-list" th:if="${!#lists.isEmpty(type.siteList)}">
                                                <li class="dd-item" th:each="site:${type.siteList}" th:attr="data-id=${site.id}">
                                                    <div class="dd-handle" th:text="${site.name}"></div>
                                                </li>
                                            </ol>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div layout:fragment="pageJs">
    <script th:src="@{/assets/console/js/jquery.tabledit.js}"></script>
    <script th:src="@{/assets/plugin/nestable/jquery.nestable.js}"></script>
    <script th:inline="javascript">
        $(function () {
            var $table = $('#myTable');
            DP.init();

            DP.table.init({
                pagination: false,
                url: /*[[@{/console/nav/typeList}]]*/,
                columns: [
                    {
                        field: 'id',
                        title: 'ID'
                    },
                    {
                        field: 'name',
                        title: '名称'
                    },
                    {
                        field: 'siteCount',
                        title: '网址数量'
                    },
                    {
                        field: '',
                        title: '操作',
                        formatter: function (value, row, index) {
                            var url = /*[[@{/console/nav/type/}]]*/;

                            var str = '<div class="td-actions"><button type="button" class="btn btn-danger btn-link" ' +
                                'onclick="DP.delLink(this)" data-url="' + url + '" data-id="' + row.id + '">' +
                                '<i class="material-icons">close</i></button></div>';
                            return str;
                        }
                    }
                ],
                onLoadSuccess: function (data) {
                    var cols = [1,'name'];
                    $('#myTable').Tabledit({
                        url: /*[[@{/console/nav/modifyType/}]]*/,
                        eventType: 'dblclick',
                        editButton: false,
                        deleteButton: false,
                        hideIdentifier: true,
                        columns: {
                            identifier: [0,'id'],
                            editable: [cols]
                        },
                        onSuccess: function() {
                            alertTip('success', '修改成功');
                        }
                    });
                }
            });

            var str = '';
            var updateOutput = function(e)
            {
                var list   = e.length ? e : $(e.target);
                str = JSON.stringify(list.nestable('serialize'));
            };

            $('#nestable').nestable({
                group: 1
            }).on('change', updateOutput);
            updateOutput($('#nestable'));
            $('#saveSort').on('click', function () {
                // 提示
                swal({
                        title: "确认当前排列?",
                        text: "保存后将无法恢复",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#e67e22",
                        confirmButtonText: "确定",
                        closeOnConfirm: true
                    },
                    function () {
                        $.ajax({
                            type: 'post',
                            url: /*[[@{/console/nav/sort}]]*/,
                            contentType: "application/json;charset=utf-8",
                            data: str,
                            dataType: "json",
                            success: function (result) {
                                if (result == 1) {
                                    alertTip('success', '保存成功');
                                } else {
                                    alertTip('error', '保存失败');
                                }
                            }
                        });
                    });
            });
        });
    </script>
</div>
</body>
</html>
